{% load static %}

<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" type="images/logo1.png" href="{% static 'img/logo1.png' %}">
	<title>PETlya</title>
</head>
<body>
	
	<!-- HEADER -->

	<header id="start">
	
		<div class="header__section">
			<div class="logo">
				<a class="first__word">PET<span class="second__word">lya</span></a>
			</div>
		</div>

		<div class="header__section">
			<div class="header__item">
				<a href="#story">About us</a>
			</div>
			<div class="header__item">
				<a href="#services">Services</a>
			</div>
			<div class="header__item">
				<a href="#veterinarians">Our veterinarians</a>
			</div>
			<div class="header__item">
				<a href="#map">Locations</a>
			</div>
		</div>
	</header>

<!-- INTRO OF THE WEBSITE -->

	<div class="intro">
		<div class="intro__black">
			<div class="intro__inner">
					<h1 class="intro__title">PETlya</h1>
					<p class="intro__subtitle">Veterenary clinic</p>
					<a href="make_appointment/" class="btn">Make an appointment</a>
			</div>
		</div>
	</div>


	<!-- SOME INFORMATION ABOUT OUR COMPANY -->

	<div class="story" id="story">
		<div class="story__item">
			<div class="story__text">
				<h2 class="story__title">PETlya Veterinary Clinic:<br>Exceptional Care for Your Pets</h2>
			</div>

			<div class="story__content">
				<p  class="story__par">
					Welcome to PETlya Veterinary Clinic, your trusted companion care provider. Our dedicated team of veterinarians and staff are passionate about ensuring the health and happiness of your beloved pets. From preventive care to emergency services, we offer a comprehensive range of veterinary services tailored to meet the unique needs of your furry friends. With our state-of-the-art facility and personalized approach, you can trust PETlya Veterinary Clinic to deliver exceptional care and support for your pets at every stage of their lives.
				</p>
			</div>

		</div>
	</div>


	<!-- SERVICES THAT WE CAN DO FOR OUR CUSTOMERS -->

	<div class="services" id="services">

		<div class="services__text">
			<h2 class="services__title">Services</h2>
		</div>
			<div class="services__item">
				<img src="{% static 'img/num-1.png' %}" alt="" class="num">
				<p class="services__text">Preventive Care: We emphasize the importance of regular check-ups, vaccinations, and parasite prevention to keep your pets healthy and happy.</p>
			</div>
			<div class="services__item">
				<img src="{% static 'img/num-2.png' %}" alt="" class="num">
				<p class="services__text">Diagnostic Services: Our advanced diagnostic tools enable us to accurately identify and treat various health conditions. From blood tests to X-rays, we ensure a comprehensive evaluation of your pet's health.</p>
			</div>
			<div class="services__item">
				<img src="{% static 'img/num-3.png' %}" alt="" class="num">
				<p class="services__text">Surgical Procedures: Our modern surgical suite is equipped to perform a wide range of procedures, including spaying/neutering, soft tissue surgeries, and orthopedic surgeries. We prioritize patient safety and utilize the latest techniques and anesthesia protocols.</p>
			</div>
			<div class="services__item">
				<img src="{% static 'img/num-4.png' %}" alt="" class="num">
				<p class="services__text">Pet Boarding and Grooming: We offer a comfortable and secure boarding facility, ensuring your pet receives attentive care during your absence. Our grooming services help keep your furry companion looking and feeling their best.</p>
			</div>
		</div>
	</div>


	<!-- ABOUT OUR TEAM -->

	<div class="veterinarians" id="veterinarians">
		<div class="veterinarians__item">
			<img src="{% static 'img/1g.jpg' %}">
			<h2>Yurii</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie enim non scelerisque porta. 
			</p>
		</div>
		<div class="veterinarians__item">
			<img src="{% static 'img/2g.jpg' %}">
			<h2>Margaret</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie enim non scelerisque porta.
			</p>
		</div>
		<div class="veterinarians__item">
			<img src="{% static 'img/3g.jpg' %}">
			<h2>Darina</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie enim non scelerisque porta. 
			</p>
		</div>
		<div class="veterinarians__item">
			<img src="{% static 'img/4g.jpg' %}">
			<h2>Tim</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie enim non scelerisque porta. 
			</p>
		</div>
	</div>

	<!-- MAP FROM GOOGLEMAP -->

	<div id="map" class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=2048&amp;height=400&amp;hl=en&amp;q=National University of Life and Environmental Sciences of Ukraine&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections NYT</a></div><style>.mapouter{position:relative;text-align:right;width:2048px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:2048px;height:400px;}.gmap_iframe {width:2048px!important;height:400px!important;}</style></div>
	
	<!-- FOOTER -->

	<footer>
		<nav>
			<a href="#story">About us</a>
			<a href="#discharge">Services</a>
			<a href="#veterinarians">Our veterinarians</a>
			<a href="#map">Locations</a>
		</nav>
		<div class="logo_f">
			<a class="first__word">PET<span class="second__word">lya</span></a>
		</div>
		<div class="lang">
			<a href="#">Українська</a>
			<a href="gg">English</a>
		</div>
		<p>&copy;2023 All rights reserved&trade;</p>

	</footer>
</body>
</html>